<header>
  <h1>Header</h1>
  <ul>
    <li><a href="/">Trang Chủ</a></li>
    <li><a href="/courses/create">Thêm Khóa Học</a></li>
    <li><a href="/me/stored/courses">Khóa Học Của Tôi</a></li>
    <li><a href="/me/login">Login</a></li>
    <li><a href="/me/register">Register</a></li>
  </ul>
</header>