<form action="/me/login" method="post">
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Tài Khoản</label>
    <input
      type="text"
      class="form-control"
      name="username"
      id="exampleFormControlInput1"
      placeholder="username"
    />
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Mật Khẩu</label>
    <input
      type="password"
      class="form-control"
      name="password"
      id="exampleFormControlInput1"
      placeholder="password"
    />
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Đăng Nhập</label>
    <input
      type="submit"
      class="form-control"
      name="submit"
      id="exampleFormControlInput1"
      placeholder="Đăng Nhập"
      value="Đăng Nhập"
    />
  </div>
</form>