<form action="/me/register" method="post">
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Username</label>
    <input
      type="text"
      class="form-control"
      name="username"
      id="exampleFormControlInput1"
      placeholder="username"
    />
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      name="password"
      id="exampleFormControlInput1"
      placeholder="password"
    />
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Submit</label>
    <input
      type="submit"
      class="form-control"
      name="submit"
      id="exampleFormControlInput1"
      placeholder="Submit"
    />
  </div>
</form>